.AA-form-section{
    padding-top: 10.3125%;
    background-color: var(--black10-color);
}

/**style image design**/
.AA-form-section .AA-design{
    position: relative;
}

.AA-form-section .AA-design::before {
    content: url('../../assets/imgs/Abstract Design4.png');
    position: absolute;
    top: 0%;
    right: 0%;
    object-fit: cover;
    z-index: 2;
}

/**style form container**/
.AA-form-section .AA-form-container{
    position: relative;
    display: inline-block;
    border: 1px solid var(--gray15-color);
    border-radius: 20px;
    width: 100%;
}

/**style background of form**/
.AA-form-section .AA-form-container .AA-bg-img{
    background-image: url('../../assets/imgs/login-bg.png');
    width: 100%;
    height: 100vh;
    background-color: var(--black11-color); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 5%;
    border-radius: 20px;
    filter: grayscale(100%);
}

.AA-form-section .AA-form-container .overlay{
    width: 100%;
    height: 100%;
}

.AA-form-section .AA-form-container .overlay:before{
    position: absolute;
    background-image: url('../../assets/imgs/login-bg.png');
    display: inline-block;
    content: '';
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: var(--black11-color); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 5%;
    border-radius: 20px;
    filter: grayscale(100%);
}

/**style title**/
.AA-form-section .AA-form-container .overlay .AM-title-comp{
    padding-top: 7.5414781297%;
    padding-bottom: 6.033182503770739%;
}

.AA-form-section .AA-form-container .overlay .AM-title-comp .title,
.AA-form-section .AA-form-container .overlay .AM-title-comp .highlight {
    text-align: center;
}

.AA-form-section .AA-form-container .overlay .AM-title-comp .desc {
    text-align: center;
}

/**style error message**/
.AA-form-section .AA-form-container .overlay .AA-error{
    color: var(--white-color);
    padding: 10px 20px 0 20px;
    margin: 0;
}

.AA-form-section .AA-form-container .overlay .AA-hide{
    display: none;
}

.AA-form-section .AA-form-container .overlay .AA-show{
    display: block;
}

/***style input field**/
.AA-form-section .AA-form-container .overlay .AA-input-pb{
    padding-bottom: 2.262443438914027%;
}

.AA-form-section .AA-form-container .overlay .AA-input,
.AA-form-section .AA-form-container .overlay .AA-password-input{
    color:var(--white-color) ;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    padding: 24px;
    gap: 10px;
    border-radius: 88px;
    width: 100%;
    display: inline-block;
}

.AA-form-section .AA-form-container .overlay .AA-inputs{
    width: 100%;
    display: flex;
    gap: 30px;
    /* padding-bottom: 40px;  */
}

/***style password input **/
.AA-form-section .AA-form-container .overlay .AA-input-Fields{
    width: 100%;
}

.AA-form-section .AA-form-container .overlay .AA-input-group{
    width: 100%;
    position: relative;
    display: inline-block;
}

.AA-form-section .AA-form-container .overlay .eye-icon {
    color: var(--gray35-color);
    position: absolute;
    font-size: 1.25rem;
    position: absolute;
            top: 50%;
            right: 22px; /* Adjust this value to control the icon's position */
            transform: translateY(-50%);
            cursor: pointer;
}

/**style forget btn**/
.AA-form-section .AA-form-container .overlay .AA-forget-pass-btn{
    color: var(--white-color);
    padding-top: 3.01659125188537%;
    padding-bottom: 3.01659125188537%;
}

/**style social login div**/
.AA-form-section .AA-form-container .overlay .AA-social-login-btns{
    display: flex;
    gap: 24px;
}

.AA-form-section .AA-form-container .overlay .AA-custom-btn{
    margin-bottom: 1.809954751131222%;
}

.AA-form-section .AA-form-container .overlay form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 11.31221719457014% 7.5414781297% 11.31221719457014%;
}

.AA-px-297 {
    padding-left: 15.46875%;
    padding-right: 15.46875%;
}

/***style continue p***/
.AA-form-section .AA-form-container .overlay  .AA-continue-p{
    position: relative;
    color: var(--gray70-color);
    width: 50.4873294347%;
    text-align: center;
    margin-bottom: 2.262443438914027%;
}

.AA-form-section .AA-form-container .overlay .AA-continue-p p{
    margin: 0;
    padding: 0;
}

.AA-form-section .AA-form-container .overlay .AA-continue-p::before{
    content: "";
    position: absolute;
    width: 31.9498069498%;
    height: 1px;
    left: 0;
    background: var(--gray70-color);
    top: 50%;
    margin: auto;
}

.AA-form-section .AA-form-container .overlay .AA-continue-p::after{
    content: "";
    position: absolute;
    width: 31.9498069498%;
    height: 1px;
    background: var(--gray70-color);
    top: 50%;
    right: 0;
    margin: auto;
}


@media (max-width: 1919px) {
    .AA-form-section{
        padding-top: 10.625%;
    }
    .AA-px-297 {
        padding-left: 13.05555556%;
        padding-right: 13.05555556%;
    }

    .AA-form-section .AA-form-container .overlay form{
        padding-bottom: 7.518796992481203%;
        padding-left: 18.79699248120301%;
        padding-right: 18.79699248120301%;
    }

    .AA-form-section .AA-form-container .overlay .AM-title-comp{
        padding-top: 7.518796992481203%;
        padding-bottom: 5.639097744360902%;
        padding-left: 18.79699248120301%;
        padding-right: 18.79699248120301%;
    }

    .AA-form-section .AA-form-container .overlay .AM-title-comp p{
        margin: 0;
    }

    .AA-form-section .AA-form-container .overlay .AA-input-pb{
        padding-bottom: 2.819548872180451%;
    }
    

    .AA-form-section .AA-form-container .overlay .AA-forget-pass-btn{
        padding-top: 2.819548872180451%;
        padding-bottom: 2.819548872180451%;
    }

    .AA-form-section .AA-form-container .overlay .AA-custom-btn{
        margin-bottom: 2.255639097744361%;
    }

    .AA-form-section .AA-form-container .overlay .AA-social-btns{
        padding-top: 2.255639097744361%;
        gap: 20px;
    }

    .AA-form-section .AA-form-container .overlay .AA-input,
    .AA-form-section .AA-form-container .overlay .AA-password-input{
        font-size: 16px;
        line-height: 24px;
    }
    .AA-form-section .AA-form-container .overlay  .AA-continue-p{
        width: 60.843373494%;
        padding-top: 2.255639097744361%;
        padding-bottom: 2.255639097744361%;
        margin-bottom: 0%;
    }

    .AA-form-section .AA-form-container .overlay .AA-continue-p::before,
    .AA-form-section .AA-form-container .overlay .AA-continue-p::after {
        width: 31.9306930693%;
    }
}

@media (max-width: 993px){
    .AA-form-section{
        padding-top: 20%;
    }

    .AA-form-section .AA-form-container .overlay .AA-inputs{
        flex-wrap: wrap;
        width: 100%;
    }

    .AA-form-section .AA-form-container .overlay  .AA-continue-p{
        width: 100%;    
    }

    .AA-form-section .AA-form-container .overlay .AA-continue-p::before,
    .AA-form-section .AA-form-container .overlay .AA-continue-p::after {
        width: 27.9306930693%;
    }
}

@media (max-width: 768px) {
    .AA-form-section{
        padding-top: 35.38461538461538%;
    }
    
    .AA-px-297 {
        padding-left: 4.1025641%;
        padding-right: 4.1025641%;
    }

    .AA-form-section .AA-form-container .AA-design::before{
        height: 44.41340782122905%;
    }

    .AA-form-section .AA-form-container .overlay .AM-title-comp {
        padding-right: 8.379888268156425%;
        padding-left: 8.379888268156425%;
        padding-top: 8.379888268156425%;
        padding-bottom: 11.1731843575419%;
    }

    .AA-form-section .AA-form-container .overlay .AA-input-pb{
        padding-bottom: 5.58659217877095%;
    }
    .AA-form-section .AA-form-container .overlay .AA-inputs{
        flex-wrap: wrap;
        width: 100%;
    }

    .AA-form-section .AA-form-container .overlay .AA-forget-pass-btn{
        padding-top: 6.70391061452514%;
        padding-bottom: 6.70391061452514%;
    }

    .AA-form-section .AA-form-container .overlay .AA-custom-btn{
        margin-bottom: 6.70391061452514%;
    }

    .AA-form-section .AA-form-container .overlay .AA-continue-p{
        width: 100%;
        padding-top: 6.70391061452514%;
        padding-bottom: 6.70391061452514%;
    }
    .AA-form-section .AA-form-container .overlay .AA-continue-p::before {
        width: 25.5033557047%;
    }
    
    .AA-form-section .AA-form-container .overlay .AA-continue-p::after {
        width: 25.5033557047%;   
    }

    .AA-form-section .AA-form-container .overlay form{
        padding: 0px 8.379888268156425% 8.379888268156425% 8.379888268156425%;
    }
}