.AdSectionComponent {
    background-color: transparent;
    padding-bottom: 7.8125%;
    padding-top: 7.8125%;
}

.hw-AdSectionContent {
    background-color: var(--black11-color);
    border: 1px solid var(--gray15-color);
    border-radius: 20px;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    border: 0.87px solid transparent;
    background: linear-gradient(214deg, rgba(202, 255, 51, 0.2) 0%,
            rgba(202, 255, 51, 0) 11.24%, rgba(202, 255, 51, 0) 91.73%), rgba(38, 38, 38, 1) border-box;
}
.hw-AdSecBg {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1;
    mix-blend-mode: screen;
}

.hw-AdSectionContent::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(90deg, rgba(26, 26, 26, 0) 0%, rgba(26, 26, 26, 0.7) 50%, #1A1A1A 60%);
    z-index: 2;
    border-radius: 20px;
}

.hw-AdSecRight {
    z-index: 10;
}
.hw-AdSecRight .AM-title-comp .title,
.hw-AdSecRight .AM-title-comp .title > span{
    font-size:40px;
    Line-height:60px;
}
.hw-AdSecRight .AM-title-comp{
    max-width: 88.16956%; 
}
.hw-AdSecleft {
    padding: 18px 30px;
    width: 183px;
    height: 63px;
    background-color: var(--green60-color);
    border-radius: 82px;
    border: none;
    position: relative;
    z-index: 10;
    text-align: center;
    a {
        display: inline-block;
        text-decoration: none;
        color: inherit;
        line-height: 27px;
        font-weight: 400;
        font-size: 18px !important;
        width: 125px;
    }
}
/* .hw-AdSecleft::before {
    content: '';
    width: 0;
    height: 100%;
    border-radius: 82px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #caff33 40%, #BFBFBF 100%);
    transition: .5s ease;
    display: block;
    z-index: 9;
}

.hw-AdSecleft:hover::before {
    width: 100%;
} */

.hw-AdSectionContent .toRightDown {
    position: absolute;
    left: 0;
    top: 0;
    width: 298px;
    height: 283px;
    z-index: 10;
    border-top-left-radius: 20px;
}

@media (max-width: 1919px) {

    /*for the 1440px width,1920 and more are the main design*/
    .AdSectionComponent {
        padding-bottom: 8.3333333%;
        padding-top: 8.333333%;
    }

    .hw-AdSectionContent {
        padding: 60px;
    }
    .hw-AdSecRight .AM-title-comp .title,
    .hw-AdSecRight .AM-title-comp .title > span{
    font-size:30px;
    Line-height:45px;
}
    .hw-AdSecRight .AM-title-comp{
        max-width:85.503%;
        }
    .hw-AdSecleft {
        padding: 14px 20px;
        width: 136px;
        height: 49px;
        display: flex;
        a {
            line-height: 21px;
            width: 96px;
            font-size: 14px !important;
        }
    }
    .hw-AdSectionContent .toRightDown {
        width: 202px;
        height: 192px;
    }
}

@media (max-width: 1235px) {
    .hw-AdSectionContent {
        padding: 40px;
    }
    .hw-AdSecRight .AM-title-comp .title,
    .hw-AdSecRight .AM-title-comp .title > span{
    font-size:28px;
    Line-height:36px;
    }
    .hw-AdSecRight .AM-title-comp{
        max-width:83.503%;
    }
    .hw-AdSecleft {
        font-size: 13px;
        width: 150px;
        a {
            width: 90px;
            font-size: 13px !important;
        }
    }
    .hw-AdSectionContent .toRightDown {
        width: 160px;
        height: 150px;
    }
}

@media (max-width: 992px) {
    .hw-AdSectionContent {
        flex-direction: column;
        padding: 40px;
    }
    .hw-AdSecRight{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hw-AdSecRight .AM-title-comp .title,
    .hw-AdSecRight .AM-title-comp .title > span{
    font-size:28px;
    Line-height:30px;
    }
    .hw-AdSecRight .AM-title-comp{
        max-width:unset;
    }
    .hw-AdSecleft {
        width: 144px;
        height: 49px;
        a {
            line-height: 21px;
            width: 96px;
            font-size: 13px !important;
            height: 21px;
        }
    }
    .hw-AdSectionContent .toRightDown {
        width: 151px;
        height: 143px;
    }
}
@media (max-width: 768px) {
    .AdSectionComponent {
        padding-bottom: 80px;
        padding-top: 80px;
    }
    .hw-AdSectionContent {
        padding: 30px;
        gap: 24px;
    }
    .hw-AdSecRight .AM-title-comp .title,
    .hw-AdSecRight .AM-title-comp .title > span{
    font-size:24px;
    Line-height:36px;
    }
    .hw-AdSecleft {
        padding: 14px 24px;
    }
    .hw-AdSectionContent .toRightDown {
        width: 151px;
        height: 143px;
    }
    .hw-AdSecRight .AM-title-comp .title{
        margin-bottom: 14px;
    }
    .hw-AdSecRight .AM-title-comp .desc{
        margin-bottom: 0;
    }
}
@media (max-width: 389px) {
    .hw-AdSecRight {
        width: unset;
    }
}