.hw-footerBottom .hw-footerIcons{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 14px;
}
.hw-fotIconConta{
    padding: 14px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green60-color);
    cursor: pointer;
}