.Af-HeroComponent2-father {
    padding-top: 198px;
    padding-left: 8.28%;
    padding-right: 8.43%;
    background-color: var(--black10-color);
}

.Af-HeroComponent2 {
    background-color: var(--black11-color);
    background-image: url(/src/assets/imgs/Abstract\ Design4.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 31.58%;
    width: 100%;
    height: max-content;
    padding: 3.12%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;

}

.Af-HeroComponent2-heading {
    z-index: 3;
    height: max-content;
    background-color: var(--black10-color);
    padding: 5%;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 80px;
    margin-right: -200px;

}

.Af-HeroComponent2-heading .title {
    font-size: 58px !important;
    font-weight: 500 !important;

    span {
        font-size: 58px !important;
    }
}

.Af-HeroComponent2-heading .desc {
    font-size: 18px !important;
    font-weight: 300 !important;

}

.Af-HeroComponent2 img {
    width: 60.53%;
}

@media (max-width: 1919px) {

    .Af-HeroComponent2-heading .title {
        font-size: 48px !important;

        span {
            font-size: 48px !important;
        }
    }

    .Af-HeroComponent2-heading .desc {
        font-size: 15px !important;
    }
}

@media(max-width:1440px) {
    .Af-HeroComponent2-father {
        padding-top: 153px;
        padding-left: 5.62%;
        padding-right: 5.55%;
    }

    .Af-HeroComponent2-heading {
        padding: 4.69%;
        padding-top: 50px;
        margin-right: -130px;
    }

    .Af-HeroComponent2 img {
        width: 55.90%;
    }

    .Af-HeroComponent2-heading .title {
        font-size: 38px !important;
        line-height: 35px !important;

        span {
            font-size: 38px !important;
        }
    }

    .Af-HeroComponent2-heading .desc {
        font-size: 14px !important;
    }
}

@media(max-width:1200px) {
    .Af-HeroComponent2-heading {
        padding: 30px;
    }

    .Af-HeroComponent2-heading .title {
        font-size: 32px !important;
        line-height: 20px !important;

        span {
            font-size: 32px !important;
        }
    }

    .Af-HeroComponent2-heading .desc {
        font-size: 14px !important;
    }
}

@media(max-width:992px) {
    .Af-HeroComponent2-father {
        padding-top: 138px;
        padding-left: 1.71%;
        padding-right: 1.81%;
    }

    .Af-HeroComponent2 {
        flex-direction: column-reverse;
        align-items: center;
        padding: 14px;
    }

    .Af-HeroComponent2-heading {
        width: 92.15% !important;
        margin-right: 0;
        margin-top: -50px;
        border-radius: 20px;
        padding: 4.61%;
        text-align: center;
    }

    .Af-HeroComponent2 img {
        width: 92.15%;
    }

    .Af-HeroComponent2-heading .desc {
        max-width: none;
    }

}

@media (max-width: 768px) {
    .Af-HeroComponent2-heading .title {
        font-size: 28px !important;
        line-height: 36.2px !important;

        span {
            font-size: 28px !important;
        }
    }

    .Af-HeroComponent2-heading .desc {
        font-size: 14px !important;
    }
}