.AA-testimonials-section {
    background-color: var(--black10-color);
    position: relative;
}

.AA-testimonials-section .title-tabs{
    align-items: end;
}

.AA-testimonials-section .title-tabs .AM-title-comp{
    width: 57.01%;
}

.AA-testimonials-section .title-tabs .AM-title-comp .desc{
    margin-bottom: 0 !important;
}

.swiper {
    position: relative;
    width: 85.96491228%;
    /* width: 85.96491228%; */
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.swiper-wrapper {
    justify-content: start;
    /* align-items: start; */
    /* width: 85.96491228%; */
}

.swiper .swiper-slide {
    width: 29.44606413994169% !important;
    margin-right: 5.830903790087464%;
}

.wrapper {
    position: relative;
    margin: 0 auto;
  }
  
  .AA-left-shadow {
    position: absolute; 
    top: 0;
    bottom: 0;
    z-index: 2;
    left: -1px;
    width: 34.83709273182957%;
    height: 100%;
    margin-left: 7.017543859649123%;
    background: linear-gradient(270deg, rgba(25, 25, 25, 0) 0%, var(--black10-color) 105.84%);
  }
  
  .AA-right-shadow {
    position: absolute; 
    top: 0;
    bottom: 0;
    z-index: 2;
    margin-right: 7.017543859649123%;
    right: -1px;
    height: 100%;
    background: linear-gradient(270deg, #191919 10.8%, rgba(25, 25, 25, 0) 105.84%);
    width: 30.07518796992481%;
  }
  

.AA-custom-swiper-navigation-prev,
.AA-custom-swiper-navigation-next {
    padding: 13px;
    border-radius: 50%;
    border: 1px solid var(--gray15-color);
    background-color: var(--black11-color);
}

.AA-navigation-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/***laptop ***/
@media (max-width: 1919px) {

    .AA-testimonials-section .mb-100{
        margin-bottom: 6.25%;
    }
    .AA-testimonials-section .title-tabs .AM-title-comp{
        width: 64.92%;
    }

    .AA-testimonials-section .title-tabs .AM-title-comp .desc{
        font-size: 14px;
        line-height: 21px;
    }

    .AA-custom-swiper-navigation-next,
    .AA-custom-swiper-navigation-prev {
        padding: 14px;
    }

    .swiper{
        width: 85.625%;
    }

    .swiper .swiper-slide {
        width: 29.65328467153285% !important;
        margin-right : 5.474452554744526% ;
    }

    .AA-navigation-btns img {
        width: 28px;
    }

    .AA-custom-swiper-navigation-prev,
    .AA-custom-swiper-navigation-next {
        padding: 11px;
    }

    .AA-right-shadow {
        width: 27.96875%;
    }

    .AA-left-shadow {
        width: 31.09375%;
    }
}

@media (max-width: 1200px) {
    .AA-testimonials-section .title-tabs .AM-title-comp{
        width: 60.92%;
    }
    .swiper .swiper-slide{
        padding-right :10% ;
        margin-right: 0 !important;
        width: 50% !important;
    }
}

/***tablet ***/
@media (max-width: 992px) {
    .AA-testimonials-section .title-tabs .AM-title-comp{
        width: 100%;
    }

    .AA-testimonials-section .title-tabs{
        align-items: center;
    }

    .AA-navigation-btns {
        padding-top: 30px;
        position: static;
        justify-content: center;
        gap: 20px;
    }

    .swiper
    {
        width: 100%
    }
    
    .swiper .swiper-slide{
        padding-right :0% ;
        margin-right: 0 !important;
        width: 100% !important;
    }
 
    .AA-right-shadow,
    .AA-left-shadow{
        display: none;
    }
}

/***mobile ***/
@media (max-width: 768px) {
    .AA-testimonials-section .mb-100{
        margin-bottom: 11.1731843575419%;
    }

    .AA-testimonials-section .title-tabs .AM-title-comp .title{
        margin-bottom: 10px;
    }

    .AA-navigation-btns {
        position: static;
        justify-content: center;
        gap: 20px;
        padding-top: 30px;
    }

    .swiper {
        padding: 0px !important;
        width: 100%;
        position: unset;
    }

   .swiper .swiper-slide{
        margin-right: 0 !important;
        width: 100% !important;
    }

    .swiper-slide.swiper-slide-active {
        width: 100% !important;
        margin-right: 0px auto !important;
    }
}