.gift-icon {
  position: fixed;
  left: 10px;
  bottom: 0px;
  transition: 0.5s;
  transform: rotate(50dg);
}

.gift-icon:hover {
  transform: scale(1.2);
}

.custom-title {
  font-size: 40px;
  padding: 0;
}

.custom-confirm-btn {
  background-color: var(--green60-color);
  color: var(--black-color);
  font-size: 20px;
  padding: 5px 20px;
}

.custom-confirm-btn:hover {
  background-color: var(--green80-color);
}

.swal2-image {
  margin: 0 auto 0;
}