/* Styles for the main section container of the job cards */
.MR-SectionContiner {
  background-color: var(--black10-color);
  display: flex;
  flex-direction: column;
}

/* Styles for the flex container holding the job cards */
.MR-JobcardFlex {
  display: flex;
  align-items: stretch;
  gap: 30px;
  margin-top: 80px;
  margin-bottom: 30px;
  flex-wrap: wrap;

}

/* Styles for each individual job card */
.MR-JobCardContainer {
  background-color: var(--black11-color);
  width: 49.06%;
  border: 1px var(--gray15-color) solid;
  border-radius: 16px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Media query for screens smaller than 1919px */
@media (max-width: 1919px) {

  .MR-JobcardFlex {
    display: flex;

    gap: 20px;
    margin-top: 60px;
    margin-bottom: 20px;


  }

  .MR-JobCardContainer {
    padding: 40px;
  }
}

/* Media query for screens smaller than 992px */
@media (max-width: 992px) {
  .MR-SectionContiner {
    flex-wrap: wrap;
  }
  
  .MR-JobcardFlex {
    flex-wrap: wrap;
  }

  .MR-JobCardContainer {
    width: 100%;
    padding: 32px;
  }
}

/* Media query for screens smaller than 390px */
@media (max-width: 390px) {
  .MR-SectionContiner {
    flex-wrap: wrap;
  }

  .MR-JobcardFlex {
    flex-wrap: wrap;
  }

  .MR-JobCardContainer {
    width: 100%;
  }

  .MR-JobCardContainer {
    padding: 24px;
  }
}