.features-card {
  width: 48.8%;
  border-radius: 12px;
  border: 1px solid var(--gray15-color);
  background-color: var(--black11-color);
}


.et-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.et-card-title span {
  font-size: 22px;
  line-height: 33px;
  color: var(--white-color);
  transition: .3s ease-in-out;
}

.features-card:hover .et-card-title span {
  color: var(--green60-color);
}

.features-card p {
  color: var(--gray70-color);
  margin-top: 30px;
  margin-bottom: 0;
}


@media (max-width: 1919px) {
  .features-card {
    width: 49.014%;
    padding: 40px;
  }

  .et-card-title span {
    font-size: 18px;
    line-height: 27px;
  }

  .et-card-title img {
    width: 24px;
  }

  .features-card p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
  }
}

@media (max-width: 1439px) {
  .features-card {
    width: 48.014%;
  }
}

@media (max-width: 992px) {
  .features-card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .features-card {
    padding: 30px;
  }

  .et-card-title span {
    font-size: 18px;
    line-height: 27px;
  }

  .features-card p {
    font-size: 14px;
    line-height: 21px;
    margin-top: 20px;
  }
}