header{
    background-color: var(--black10-color);
    position: relative;
}
header::before{
    content: url('../../assets/imgs/Abstract Design5.png');
    position: absolute;
    top: 0;
    left: 0;
}