.Press-Card-Component {
  width: 49.060%;
  background-color: var(--black11-color);
  border: 1px solid var(--gray15-color);
  border-radius: 40px 40px 16px 16px;
  padding: 30px;
}

.Press-Card-Component img {
  width: 100%;
  border-radius: 30px 30px 12px 12px;
  height: 333px;
  object-fit: cover;
}

.Press-Card-Content {
  margin-top: 51px;
  padding: 0 30px;
}

.Press-Card-Content h5 {
  color: var(--white-color);
  margin-bottom: 0;
}

.Press-Card-Content .et-card-info {
  margin-top: 20px;
  width: max-content;
}

.Press-Card-Content .et-card-info span {
  background-color: var(--black10-color);
  color: var(--gray70-color);
  border-radius: 68px;
  border: 1px solid var(--gray15-color);
  padding: 9px 16px;
  margin-right: 10px;
}

.Press-Card-Content .et-card-info span:nth-child(2) {
  margin-right: 0;
}

.Press-Card-Content p {
  color: var(--gray70-color);
  margin-top: 30px;
}


/* figma design */
@media (max-width: 1919px) {
  .Press-Card-Component {
    width: 49.21875%;
    padding: 24px;
  }

  .Press-Card-Component img {
    height: 277px;
  }

  .Press-Card-Content {
    margin-top: 40px;
    padding: 0 24px;
  }

  .Press-Card-Content h5 {
    font-size: 20px;
    line-height: 30px;
  }

  .Press-Card-Content .et-card-info {
    margin-top: 14px;
    height: 36px;
  }

  .Press-Card-Content .et-card-info span {
    font-size: 16px;
    line-height: 24px;
    padding: 7px 14px;
    margin-right: 6px;
  }

  .Press-Card-Content p {
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
  }
}

/* figma design */
@media (max-width: 992px) {
  .Press-Card-Component {
    width: 100%;
    padding: 20px;
  }

  .Press-Card-Component img {
    height: 206px;
  }

  .Press-Card-Content {
    margin-top: 30px;
    width: 100%;
    padding: 0;
  }

  .Press-Card-Content h5 {
    font-size: 18px;
    line-height: 27px;
  }

  .Press-Card-Content .et-card-info {
    margin-top: 10px;
    height: 33px;
  }

  .Press-Card-Content .et-card-info span {
    font-size: 14px;
    line-height: 21px;
    padding: 6px 12px;
  }

  .Press-Card-Content p {
    font-size: 14px;
    line-height: 21px;
  }
}

@media (max-width: 389px) {
  .Press-Card-Content h5 {
    font-size: 16px;
    line-height: 21px;
  }

  .Press-Card-Content .et-card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    height: fit-content;
  }
}