.AA-custom-btn{
    width: 49.9025341131%;
    padding: 18px 20px 18px 20px;
    border-radius: 63px;
    border: none;
}

.AA-bg-btn-green-60{
    background-color: var(--green60-color);
}

.AA-bg-btn-gray-15{
    background: var(--gray15-color);
    border: 1px solid var(--gray20-color);
    color: var(--white-color);
}

@media (max-width: 1919px) {
    .AA-custom-btn{
        width: 60.8433734939759%;
        font-size: 14px;
        line-height: 21px;
    }
}

@media (max-width: 768px) {
    .AA-custom-btn{
        width: 100%;
    }
}

