/* Font for Bottom*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Main container for FAQ cards */
.MR-FAQ-section-container {
  background-color: var(--black10-color);
}

.MR-FAQ-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

/* Styling for the upper FAQ card section */
.MR-Upper-FAQ-Card {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

/* Styling for the lower FAQ card section */
.MR-Lower-FAQ-Card {
  display: flex;
  gap: 30px;
}

/* Gap Between (3&4) & (5&6) card */
.MR-FAQ-ExpandedgGap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Gradient */
.MR-FAQ-Gradient1 {
  -webkit-mask-image: linear-gradient(to bottom,
      rgba(25, 25, 25, 1),
      rgba(25, 25, 25, 0));
  mask-image: linear-gradient(to bottom, rgba(25, 25, 25, 1) 0%, rgb(25, 25, 25, 0) 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

/* Button styling for the FAQ section */
.MR-FAQ-Button {
  width: fit-content;
  height: 63px;
  border: var(--gray15-color) 1px solid;
  border-radius: 100px;
  background-color: var(--black11-color);
  color: var(--white-color);
  gap: 4px;
  padding: 18px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", serif;
}

/* Responsive styles for screens smaller than 1919px */
@media (max-width: 1919px) {
  .MR-FAQ-card-container {
    margin-top: 60px;
  }

  .MR-Upper-FAQ-Card {
    gap: 20px;
    margin-bottom: 20px;
  }

  .MR-Lower-FAQ-Card {
    gap: 20px;
  }

  .MR-FAQ-ExpandedgGap {
    gap: 20px;
  }

  .MR-FAQ-Button {
    height: 50px;
    gap: 4px;
    padding: 14px 20px 14px 20px;
    font-size: 14px;
    line-height: 21px;
  }
}

/* Responsive styles for screens smaller than 992px */
@media (max-width: 992px) {
  .MR-FAQ-card-container {
    margin-top: 50px;
  }

  .MR-Upper-FAQ-Card {
    width: 100%;
    flex-wrap: wrap;
  }

  .MR-Lower-FAQ-Card {
    width: 100%;
    flex-wrap: wrap;
  }

  .MR-FAQ-Gradient1 {
    mask-image: linear-gradient(to bottom, rgba(25, 25, 25, 1) 65%, rgb(25, 25, 25, 0) 100%);
  }
}