.Af-UseCasesComponent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.Af-UseCasesComponentReverse{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 100%;
}
.Af-UseCasesComponentSide-1{
    width: 46.86%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    background-color: var(--black11-color);
    background-image: url(/src/assets/imgs/Abstract\ Design3.png);
    background-repeat: no-repeat;
    background-position: top left;
    border-radius: 20px;
}
.Af-UseCasesComponentSide-1Reverse{
    width: 46.86%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    background-color: var(--black11-color);
    background-image: url(/src/assets/imgs/Abstract\ Design4.png);
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 20px;
}
.Af-cardTop{
    margin-top: 50px;
    width: 86.63%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 10px;
}
.Af-cardBottom{
    width: 86.63%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}
.Af-UseCasesComponentSide-1-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--black10-color);
    width: 48.45%;
    height: 222px;
    border-radius: 16px;
    border: 1px solid var(--gray15-color);

}

.Af-UseCasesComponentSide-1-card span{
    color: var(--white-color);
    padding: 24px 30px 30px;
    text-align: center;
    font-size: 20px;
}
.Af-UseCasesComponentSide-1-card-img{
    margin-top: 30px;
    padding: 10px;
    width: 78px;
    height: 78px;
    background-image: linear-gradient(to bottom, rgba(202, 255, 51, 0.05) ,rgba(202, 255, 51, 0)) ;
    border-radius: 50%;
    
}
.Af-UseCasesComponentSide-1-card-img div{
    background-image: linear-gradient(to bottom, rgba(202, 255, 51, 0.05) ,rgba(202, 255, 51, 0)) ;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gray20-color);
}
.Af-UseCasesComponentSide-2{
    width: 46.86%;
}
.Af-UseCasesComponentSide-2-title{
    padding-bottom: 62px;
}
.Af-UseCasesComponentSide-2-title h4{
    color: var(--white-color);
}
.Af-UseCasesComponentSide-2-title p{
    color: var(--gray70-color);
    font-size: 18px;
    font-weight: 300;
}
.Af-UseCasesComponentSide-2-secondDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}
.Af-divBorder{
    border-right: 1px dashed var(--gray15-color);
}
.Af-UseCasesComponentSide-2-secondDiv .Af-rate{
    width: 24.42%;
    text-align: left;
}
.Af-UseCasesComponentSide-2-secondDiv .Af-rate h3{
    color: var(--green60-color);
    font-size: 48px;
}

.Af-UseCasesComponentSide-2-secondDiv .Af-rate p{
    color: var(--gray70-color);
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
}
.Af-UseCasesComponentSide-2-button{
    width: 100%;

}
.Btn{
    margin-top: 62px;
    background-color: var(--black11-color);
    color: rgba(255, 255, 255, 1);
    border: 1px solid var(--gray15-color);
    border-radius: 82px;
    padding: 18px 24px;
}
@media (max-width:1440px){
    /* .Af-UseCasesComponent{
        flex-direction: column;
    } */
    .Af-UseCasesComponentSide-2{
        margin-top: 20px;
    }
    .Af-UseCasesComponentSide-2-secondDiv{
        justify-content: center;
    }
    .Af-UseCasesComponentSide-2-button{
        display: flex;
        justify-content: center;
    }
    .Af-UseCasesComponentSide-1-card span{
        font-size: 16px;
    }
}
@media (max-width:1280px){
    .Af-UseCasesComponentSide-1-card span{
        font-size: 14px;
    }
    .Af-UseCasesComponentSide-1-card-img{
        width: 64px;
        height: 64px;
        padding: 8px;
    }
    .Af-UseCasesComponentSide-1-card-img div{
        width: 48px;
        height: 48px;
    }
    
    .Af-cardTop,
    .Af-cardBottom{
        width: 86.88%;
    }
    .Af-UseCasesComponentSide-1-card{
        width: 49.05%;
        height: 174px;
    }
    .Af-UseCasesComponentSide-2-secondDiv div p{
        font-size: 15px;
    }
}
@media (max-width:992px){
    .Af-UseCasesComponent,
    .Af-UseCasesComponentReverse{
        flex-direction: column;
        padding-bottom: 40px;
    }
    .Af-UseCasesComponentSide-1,
    .Af-UseCasesComponentSide-1Reverse,
    .Af-UseCasesComponentSide-2{
        width: 100%;
    }
    .Af-UseCasesComponentSide-1-card{
        height: 160px;
    }
    .Af-UseCasesComponentSide-1-card span{
        font-size: 12px;
        padding: 12px 15px 15px;
    }
    .Af-UseCasesComponentSide-2-secondDiv div p{
        font-size: 14px;
    }
    .Af-UseCasesComponentSide-2-secondDiv .Af-rate{
        width: 72.06%;
        text-align: center;
    }
    .Af-divBorder{
        border-right: none;
        border-bottom: 1px dashed var(--gray15-color);
    }
    .Af-UseCasesComponentSide-2-title{
        text-align: center;
    }
}