.AM-product-sec {
    background-color: var(--black10-color);
}

.AM-product-sec .title-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.AM-product-sec .tabs {
    width: 386px;
    display: flex;
    padding: 14px;
    margin: 10px 5px;
    background-color: var(--black11-color);
    border: 1px solid var(--gray15-color);
    border-radius: 82px;

}

.AM-title-comp .desc-product {
    max-width: 910px;
}

.AM-product-sec .tab {
    width: 181px;
    height: 55px;
    border-radius: 140px;
    background-color: transparent;
    color: var(--white-color);
    border: none;
    font-size: 18px;
    text-align: center;
}

.AM-product-sec .active-tab {
    background-color: var(--green60-color);
    color: var(--black11-color);

}

.AM-title-comp .desc {
    width: 910px;
    height: 54px;
}

.AM-product-sec .row-cards {
    display: none;
    width: 100%;
}

.AM-product-sec .active-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

/* media query */

@media (max-width: 1919px) {
    .AM-product-sec .active-content {
        gap: 40px;
    }

    .AM-title-comp .desc-product {
        max-width: 831px;
    }

    .AM-product-sec .tabs {
        width: 299px;
        padding: 12px;
    }

    .AM-product-sec .tab {
        width: 139px;
        height: 41px;
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .AM-title-comp .desc-product {
        max-width: 420px;
    }

    .AM-product-sec .title-tabs {
        justify-content: center;
        text-align: center;
    }

    .AM-product-sec .title-tabs {
        flex-direction: column;
        flex-wrap: nowrap;
    }

}

@media (max-width: 540px) {
    .AM-title-comp .desc-product {
        max-width: 358px;
    }

}

/* @media (min-width: 390px) and (max-width: 768px) {
    .AM-title-comp .desc-product {
        max-width: 280px;
    }
} */

@media (max-width: 389px) {
    .AM-title-comp .desc-product {
        max-width: 280px;
    }

}