.AA-social-btn{
    background: linear-gradient(180deg, rgba(202, 255, 51, 0.1) -66.22%, rgba(202, 255, 51, 0) 85.46%) border-box;
    border: none;
    border-radius: 50px;
    padding: 20px;
    position: relative;
}

.AA-social-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    border: 1px solid transparent;
    background: linear-gradient(180deg, rgba(202, 255, 51, 0.2) -173.65%, rgba(202, 255, 51, 0) 87.22%) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
  

.AA-container-social-btn{
    display: inline-block;
    background: linear-gradient(180deg, rgba(202, 255, 51, 0.05) 0%, rgba(202, 255, 51, 0) 100%);
    padding: 12px;
    border-radius: 70px;
}

@media (max-width: 1919px) {
    .AA-container-social-btn{
        padding: 8px;
    }
    .AA-social-btn{
        padding: 13.5px;   
    }

    .AA-social-btn img{
        width: 24px;
        height: 24px;
    }
}

