.features {
  background-color: var(--black10-color);
}

.features-title {
  width: 81.202%;
}

.features-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  column-gap: 30px;
}

.features-content .et-btns {
  width: 19.298%;
  background-color: var(--black11-color);
  border-radius: 12px;
}

.features-content .et-btns button {
  width: 100%;
  border-radius: 100px;
  border: 1px solid var(--gray15-color);
  padding: 18px 23px;
  text-align: start;
}

.features-content .et-btns button:not(:last-child) {
  margin-bottom: 24px;
}

.et-btn {
  background-color: transparent;
  color: var(--white-color);
}

.et-active-btn {
  color: var(--green60-color);
  background-color: var(--black10-color);
}

.features-cards {
  width: 78.822%;
}
.features-cards .fading{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
/* figma design */
@media (max-width: 1919px) {
  .features-title {
    margin-bottom: 60px;
  }

  .features-content {
    column-gap: 20px;
  }

  .features-content .et-btns {
    width: 19.14%;
    padding: 40px;
  }

  .features-content .et-btns button {
    font-size: 14px;
    line-height: 21px;
    padding: 14px 19px;
  }

  .features-content .et-btns button:not(:last-child) {
    margin-bottom: 20px;
  }

  .features-cards {
    width: 79.296%;
  }
  .features-cards .fading{
    gap: 20px;
  }
}

@media (max-width: 1439px) {
  .features-content .et-btns {
    width: 21.298%;
  }

  .features-content .et-btns button {
    font-size: 12px;
    padding: 14px 10px;
    text-align: center;
  }

  .features-cards {
    width: 76.296%;
  }
}

@media (max-width: 1200px) {
  .features-title {
    width: 100%;
  }
  .features-content .et-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }

  .features-cards {
    width: 100%;
    margin-top: 20px;
  }

  .features-content .et-btns button {
    width: 25%;
    font-size: 13px;
    text-align: center;
  }

  .features-content .et-btns button:not(:last-child) {
    margin-bottom: 0;
  }
}

/* figma design */
@media (max-width: 768px) {
  .features {
    padding: 0 12px 80px 12px;
  }

  .features-title {
    margin-bottom: 50px;
    width: 100%;
  }

  .features-content .et-btns {
    padding: 20px;
  }

  .features-content .et-btns button {
    width: max-content;
    padding: 14px 20px;
    font-size: 14px;
    line-height: 21px;
  }
}