.hw-OurBenefitsCard h1,
.hw-OurBenefitsCard h2,
.hw-OurBenefitsCard h3,
.hw-OurBenefitsCard h4,
.hw-OurBenefitsCard h5,
.hw-OurBenefitsCard h6,
.hw-OurBenefitsCard p{
    margin-bottom: 0;
}
.hw-OurBenefitsCard{
    gap: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--black11-color);
    position: relative;
    min-height: 336px;
    overflow: hidden;
}
.hw-gradient-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(117deg, var(--green60-color) 0%, var(--black11-color) 34%);
    opacity: 3%;
    z-index: 2;
}
.hw-OurBenefitsBlendBg{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 50%;
    z-index: 3;
}
.hw-OurBenefitsCard::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 4;
    background: linear-gradient(90deg,
    rgba(26 ,26,26 , 0) 0%,
    rgba(26,26,26,0.7) 30%,
    #1A1A1A 62%
    );
}
.hw-OurBenefitsCardHeading{
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 6;
}
.hw-OurBenefitsCardHeading .Af-img-father{
    width: 98px;
    height: 98px;
    padding: 12px;
}
.hw-OurBenefitsCardHeading .Af-img-father .Af-img-son{
    width: 74px;
    height: 74px;
    padding: 20px;
}
.hw-OurBenefitsCardHeading .Af-img-father .Af-img-son img{
    width: 34px;
    height: 34px;
}

.OurBenefitsCardIcon{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.hw-iconContainer .circle1{
    width: 74px; 
    height: 74px; 
    opacity: 0.3;
}
.hw-iconContainer .circle2{
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
.hw-iconContainer .circle3{
    width: 77px;
    height: 77px;
    opacity: 0.3;
}
.hw-OurBenefitsCardTitle{
    color: var(--white-color);
}
.OurBenefitsCardDescription{
    color: var(--gray70-color);
    z-index: 6;
    max-width: 648px;
}

@media (max-width:1919px){
    .hw-OurBenefitsCard{
        padding: 40px;
        gap: 24px;
        min-height: 276px;
    }
    .hw-OurBenefitsCardHeading{
        gap: 14px;
    }
    .hw-OurBenefitsCardTitle{
        font-size: 20px;
        line-height: 30px;
    }
    .hw-OurBenefitsCardHeading .Af-img-father{
        width: 76px;
        height: 76px;
        padding: 8px;
    }
    .hw-OurBenefitsCardHeading .Af-img-father .Af-img-son{
        width: 60px;
        height: 60px;
        padding: 16px;
    }
    .hw-OurBenefitsCardHeading .Af-img-father .Af-img-son img{
        width: 28px;
        height: 28px;
    }
    .OurBenefitsCardDescription{
        font-size: 16px;
        line-height:24px;
        max-width: 530px;
        width: 530px;
    }
    .hw-roundedCardLeft{
        border-radius: 40px 14px 40px 14px;
    }
    .hw-roundedCardRight{
        border-radius:14px 40px 14px 40px;
    }
}
@media (max-width:1439px){
    .hw-OurBenefitsCard{
        padding: 30px;
        gap: 20px;
        min-height: 250px;
    }
    .hw-OurBenefitsCardHeading{
        gap: 10px;
    }
    .hw-OurBenefitsCardTitle{
        font-size: 18px;
        line-height: 28px;
    }
    .OurBenefitsCardDescription{
        max-width: 530px;
        width: unset;
        font-size: 15px;
    }
}
@media (max-width:768px){
    .hw-roundedCardRight,.hw-roundedCardLeft{
        border-radius: 40px 40px 10px 10px;
    }
    .hw-OurBenefitsCard{
        padding: 24px;
        gap: 20px;
        min-height: 245px;
    }
    .hw-OurBenefitsCardTitle{
        font-size: 18px;
        line-height: 27px;
    }
    .OurBenefitsCardDescription{
        max-width: 310px;
        font-size: 14px;
        line-height: 21px;
    }
    .hw-dashed-lines-vr{
        width: 358px;
        height: 2px;
    }
    .hw-dashed-lines-hr{
        width: 358px
    }
}