body {
    cursor: url('./src/assets/imgs/Mouse-default.png'), default;
}


button, button a, a, i, .hw-fotIconConta, select {
    cursor: url('./src/assets/imgs/Mouse-Pointer.png'), auto !important;
}


input {
    cursor: url('./src/assets/imgs/Mouse-Inherit.png'), auto !important;
}
