body {
    cursor: url('../../assets/imgs/Mouse-default.png'), default;
}


button, button a, a, i, .hw-fotIconConta, .open-nav-btn,
.close-nav-btn, select {
    cursor: url('../../assets/imgs/Mouse-Pointer.png'), auto !important;
}


input {
    cursor: url('../../assets/imgs/Mouse-Inherit.png'), auto !important;
}
